h2{display: inline;}
img{
border-radius: 50%;
width: 50px;
height: auto;
}
body{
  background-image: url("taustapilt.jpg");
  background-size: 100% auto;
  position: absolute;
  margin-left: 50%;
  margin-right: auto;
}
